@white: #FFF;
@blue-basic: #192144;
@dark-blue: #182044;
@darker-blue: #161C35;
@special-orange: #FF8D30;
@orange-basic: #FFD74B;
@special-yellow-dark: #FFBD30;
@yellow: #FFA530;
@special-grey: #444444;
@basic-grey: #EDEFF6;
@black: #000;
@basic-blue-light: #1D2E5B;



