.service-info {
  position: relative;
  background: url(../img/about-service-bg2.png) top right / 292px 353px no-repeat,
              url(../img/about-mobile-back.png) top left / 113px 132px no-repeat;
  background-color: @darker-blue;
  margin-top: -1px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: @service-info;
  .border-radius-all(0px, 0px, 25px, 25px);


  &__wrapper {
    padding: 33px 0 70px 45px;
  }
}
