@import "normalize.less";
@import "fonts.less";
@import "colors.less";
@import "var.less";
@import "mixins.less";
@import "z-index.less";
@import "body.less";
@import "header.less";
@import "promo.less";
@import "footer.less";
@import "main-nav.less";
@import "main.less";
@import "authorization-link.less";
@import "hamburger-button.less";
@import "logo-and-btn.less";
@import "section-title.less";
@import "section-description.less";
@import "section-content.less";
@import "service-info.less";
@import "countries.less";
@import "country-descrition.less";
@import "show-button.less";
@import "users.less";
@import "user-card.less";
@import "mark-level.less";
@import "business-rates.less";
@import "business-rates-modal.less";
@import "address.less";
@import "map.less";
@import "feedback.less";
@import "phone-block.less";
@import "mail-block.less";
@import "social-list.less";
@import "modal-window.less";
@import "footer-form.less";
@import "mark-level-form.less";
@import "profile-settings.less";
@import "form-page-btn.less";
@import "tags.less";
@import "transport.less";
@import "plans.less";
@import "plans-card.less";
@import "add-plans.less";
@import "plans-step.less";
@import "calendar.less";
@import "countries-block.less";
@import "letters-table.less";
@import "countries-list.less";

h1,
h2,
h3,
h4,
p,
ul,
blockquote,
cite {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: @wrapper-width;
  margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
